In [189]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [190]:
data = pd.read_csv('./train.csv')
data.head()

C:\Users\ayujv\AppData\Local\Temp\ipykernel_26704\356224728.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

## Data Preproccesing:
As you can see, we have a lot data to clean up and drop.

In [191]:
print(data.isnull().sum())

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [192]:
# This is more specific than simply just using df.dtypes and helps us figure out why column 26 has mixed types.
for col in data.columns:
    print(f'{col} : {pd.api.types.infer_dtype(data[col])}')
  
# We need to one-hot-encode occupation, Type of Loans, Credit Mix, Payment of Minimum amount, Payment Behaviour
# We need to fix Age, Annual Income, Number of Loans, Number of Delayed Payments, 
#   Change in Credit Limit, Outstanding Debt, Credit History Age, Amount Invested Monthly, and Monthly Balance
# TODO: FOR EVERY NUMERICAL DATA TYPE, CHECK NEGATIVES AND HIGH OUTLIERS.

# Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Delay_from_due_date, Num_Credit_Inquiries, Credit_Utilization_Ratio, Total_EMI_per_month

ID : string
Customer_ID : string
Month : string
Name : string
Age : string
SSN : string
Occupation : string
Annual_Income : string
Monthly_Inhand_Salary : floating
Num_Bank_Accounts : integer
Num_Credit_Card : integer
Interest_Rate : integer
Num_of_Loan : string
Type_of_Loan : string
Delay_from_due_date : integer
Num_of_Delayed_Payment : string
Changed_Credit_Limit : string
Num_Credit_Inquiries : floating
Credit_Mix : string
Outstanding_Debt : string
Credit_Utilization_Ratio : floating
Credit_History_Age : string
Payment_of_Min_Amount : string
Total_EMI_per_month : floating
Amount_invested_monthly : string
Payment_Behaviour : string
Monthly_Balance : mixed
Credit_Score : string

In [193]:
# Multiple types in column 26
column_data = data.iloc[ : , 26] 
print(column_data.apply(type).value_counts())

Monthly_Balance
<class 'str'>      97132
<class 'float'>     2868
Name: count, dtype: int64

In [194]:
# Drop useless features.
data.drop(['ID', 'Name', 'SSN', 'Month'], axis = 1, inplace = True)
data.head()

,Customer_ID,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,-500,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [195]:
# Ensure that each customer has the same number of records before grouping them in the next steps.
(data.Customer_ID.value_counts() != 8).any()

False

In [196]:
def replace_or_drop(group, min, max):
    mode_series = group.mode()
    if mode_series.empty:
        replacement_value = group.mean()  # Fallback to mean if no mode exists
    else:
        mode_value = mode_series[0]
        if mode_value < min or mode_value > max:
            replacement_value = np.nan  # Set to NaN if mode is out of accepted range
        else:
            replacement_value = mode_value

    # Replace out-of-bounds and NaN values
    group = np.where((group < min) | (group > max) | group.isna(), replacement_value, group)
    
    # If replacement_value is NaN (due to mode being out of bounds), drop these by returning NaN
    if np.isnan(replacement_value):
        return pd.Series([np.nan] * len(group))
    return group

In [197]:
# Convert 'Age' from string to float
data['Age'] = data['Age'].str.replace('_', '')
data['Age'] = data['Age'].replace("", np.nan)
data['Age'] = data['Age'].astype(float)
print(data['Age'].describe())

grouped_data = data.groupby('Customer_ID')
data['Age'] = grouped_data['Age'].transform(lambda g: replace_or_drop(g, 0, 56))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Age'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Age'].describe())
# Age now looks good.

count    100000.000000
mean        110.649700
std         686.244717
min        -500.000000
25%          24.000000
50%          33.000000
75%          42.000000
max        8698.000000
Name: Age, dtype: float64
count    100000.000000
mean         33.311180
std          10.764783
min          14.000000
25%          24.000000
50%          33.000000
75%          42.000000
max          56.000000
Name: Age, dtype: float64

In [198]:
# Annual income should change from a string to a float.
data['Annual_Income'] = data['Annual_Income'].str.replace('_', '')
data['Annual_Income'] = data['Annual_Income'].replace("", np.nan)
data['Annual_Income'] = data['Annual_Income'].astype(float)
print(data['Annual_Income'].describe())

grouped_data = data.groupby('Customer_ID')
data['Annual_Income'] = grouped_data['Annual_Income'].transform(lambda g: replace_or_drop(g, 0, 2.5e+07))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Annual_Income'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Annual_Income'].describe())
# Annual Income now looks good.

count    1.000000e+05
mean     1.764157e+05
std      1.429618e+06
min      7.005930e+03
25%      1.945750e+04
50%      3.757861e+04
75%      7.279092e+04
max      2.419806e+07
Name: Annual_Income, dtype: float64
count    1.000000e+05
mean     1.764157e+05
std      1.429618e+06
min      7.005930e+03
25%      1.945750e+04
50%      3.757861e+04
75%      7.279092e+04
max      2.419806e+07
Name: Annual_Income, dtype: float64

In [199]:
# Annual income should change from a string to a float.
print(data['Monthly_Inhand_Salary'].describe())

grouped_data = data.groupby('Customer_ID')
data['Monthly_Inhand_Salary'] = grouped_data['Monthly_Inhand_Salary'].transform(lambda g: replace_or_drop(g, 0, 15205))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Monthly_Inhand_Salary'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Monthly_Inhand_Salary'].describe())
# Annual Income now looks good.

count    84998.000000
mean      4194.170850
std       3183.686167
min        303.645417
25%       1625.568229
50%       3093.745000
75%       5957.448333
max      15204.633333
Name: Monthly_Inhand_Salary, dtype: float64
count    100000.000000
mean       4198.350924
std        3187.402015
min         303.645417
25%        1626.761667
50%        3095.978333
75%        5961.637500
max       15204.633333
Name: Monthly_Inhand_Salary, dtype: float64

In [200]:
data['Num_Bank_Accounts'] = data['Num_Bank_Accounts'].astype(float)
print(data['Num_Bank_Accounts'].describe())

grouped_data = data.groupby('Customer_ID')
data['Num_Bank_Accounts'] = grouped_data['Num_Bank_Accounts'].transform(lambda g: replace_or_drop(g, 0, 10))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset = ['Num_Bank_Accounts'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Num_Bank_Accounts'].describe())
# Number of Bank Accounts now looks good.

count    100000.000000
mean         17.091280
std         117.404834
min          -1.000000
25%           3.000000
50%           6.000000
75%           7.000000
max        1798.000000
Name: Num_Bank_Accounts, dtype: float64
count    99968.000000
mean         5.370469
std          2.591730
min          0.000000
25%          3.000000
50%          5.000000
75%          7.000000
max         10.000000
Name: Num_Bank_Accounts, dtype: float64

In [201]:
data['Num_Credit_Card'] = data['Num_Credit_Card'].astype(float)
print(data['Num_Credit_Card'].describe())
# Apply the function to each group and assign back to the DataFrame

grouped_data = data.groupby('Customer_ID')
data['Num_Credit_Card'] = grouped_data['Num_Credit_Card'].transform(lambda g: replace_or_drop(g, 0, 10))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Num_Credit_Card'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data["Num_Credit_Card"].describe())
# Interest_Rate, Delay_from_due_date, Num_Credit_Inquiries, Credit_Utilization_Ratio, Total_EMI_per_month

count    99968.000000
mean        22.478383
std        129.076914
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max       1499.000000
Name: Num_Credit_Card, dtype: float64
count    99928.000000
mean         5.531663
std          2.064943
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max         10.000000
Name: Num_Credit_Card, dtype: float64

In [202]:
data['Interest_Rate'] = data['Interest_Rate'].astype(float)
print(data["Interest_Rate"].describe())
# Apply the function to each group and assign back to the DataFrame

grouped_data = data.groupby('Customer_ID')
data['Interest_Rate'] = grouped_data['Interest_Rate'].transform(lambda g: replace_or_drop(g, 0, 36)) # Max credit card rate rn is 36% (Google)

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Interest_Rate'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data["Interest_Rate"].describe())

count    99928.000000
mean        72.472400
std        466.454174
min          1.000000
25%          8.000000
50%         13.000000
75%         20.000000
max       5797.000000
Name: Interest_Rate, dtype: float64
count    99928.000000
mean        14.532543
std          8.741033
min          1.000000
25%          7.000000
50%         13.000000
75%         20.000000
max         34.000000
Name: Interest_Rate, dtype: float64

In [203]:
# Annual income should change from a string to a float.
data['Num_of_Loan'] = data['Num_of_Loan'].str.replace('_', '')
data['Num_of_Loan'] = data['Num_of_Loan'].replace("", np.nan)
data['Num_of_Loan'] = data['Num_of_Loan'].astype(float)
print(data['Num_of_Loan'].describe())

grouped_data = data.groupby('Customer_ID')
data['Num_of_Loan'] = grouped_data['Num_of_Loan'].transform(lambda g: replace_or_drop(g, 0, 10))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Num_of_Loan'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Num_of_Loan'].describe())
# Annual Income now looks good.

count    99928.00000
mean         3.01366
std         62.66703
min       -100.00000
25%          1.00000
50%          3.00000
75%          5.00000
max       1496.00000
Name: Num_of_Loan, dtype: float64
count    99928.000000
mean         3.532784
std          2.446580
min          0.000000
25%          2.000000
50%          3.000000
75%          5.000000
max          9.000000
Name: Num_of_Loan, dtype: float64

In [204]:
data['Delay_from_due_date'] = data['Delay_from_due_date'].astype(float)
print(data["Delay_from_due_date"].describe())
# Apply the function to each group and assign back to the DataFrame

grouped_data = data.groupby('Customer_ID')
data['Delay_from_due_date'] = grouped_data['Delay_from_due_date'].transform(lambda g: replace_or_drop(g, 0, 67))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Delay_from_due_date'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data["Delay_from_due_date"].describe())

count    99928.000000
mean        21.064566
std         14.855445
min         -5.000000
25%         10.000000
50%         18.000000
75%         28.000000
max         67.000000
Name: Delay_from_due_date, dtype: float64
count    99888.000000
mean        21.093885
std         14.822143
min          0.000000
25%         10.000000
50%         18.000000
75%         28.000000
max         67.000000
Name: Delay_from_due_date, dtype: float64

In [205]:
# Annual income should change from a string to a float.
data['Num_of_Delayed_Payment'] = data['Num_of_Delayed_Payment'].str.replace('_', '')
data['Num_of_Delayed_Payment'] = data['Num_of_Delayed_Payment'].replace("", np.nan)
data['Num_of_Delayed_Payment'] = data['Num_of_Delayed_Payment'].astype(float)
print(data['Num_of_Delayed_Payment'].describe())

grouped_data = data.groupby('Customer_ID')
data['Num_of_Delayed_Payment'] = grouped_data['Num_of_Delayed_Payment'].transform(lambda g: replace_or_drop(g, 0, 31))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Num_of_Delayed_Payment'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Num_of_Delayed_Payment'].describe())
# Annual Income now looks good.

count    92894.000000
mean        30.912244
std        225.911493
min         -3.000000
25%          9.000000
50%         14.000000
75%         18.000000
max       4397.000000
Name: Num_of_Delayed_Payment, dtype: float64
count    99776.000000
mean        13.342397
std          6.258616
min          0.000000
25%          9.000000
50%         14.000000
75%         18.000000
max         28.000000
Name: Num_of_Delayed_Payment, dtype: float64

In [206]:
# Change in credit limit should change from a string to a float.
data['Changed_Credit_Limit'] = data['Changed_Credit_Limit'].str.replace('_', '')
data['Changed_Credit_Limit'] = data['Changed_Credit_Limit'].replace("", np.nan)
data['Changed_Credit_Limit'] = data['Changed_Credit_Limit'].astype(float)
print(data['Changed_Credit_Limit'].describe())

grouped_data = data.groupby('Customer_ID')
data['Changed_Credit_Limit'] = grouped_data['Changed_Credit_Limit'].transform(lambda g: replace_or_drop(g, -6.5, 37))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Changed_Credit_Limit'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Changed_Credit_Limit'].describe())
# Annual Income now looks good.

count    97693.000000
mean        10.393692
std          6.791314
min         -6.490000
25%          5.340000
50%          9.410000
75%         14.880000
max         36.970000
Name: Changed_Credit_Limit, dtype: float64
count    99776.000000
mean        10.393665
std          6.785547
min         -6.490000
25%          5.340000
50%          9.400000
75%         14.870000
max         36.970000
Name: Changed_Credit_Limit, dtype: float64

In [207]:
# Annual income should change from a string to a float.
print(data['Num_Credit_Inquiries'].describe())

grouped_data = data.groupby('Customer_ID')
data['Num_Credit_Inquiries'] = grouped_data['Num_Credit_Inquiries'].transform(lambda g: replace_or_drop(g, 0, 12))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Num_Credit_Inquiries'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Num_Credit_Inquiries'].describe())
# Annual Income now looks good.

count    97819.000000
mean        27.788967
std        193.342315
min          0.000000
25%          3.000000
50%          6.000000
75%          9.000000
max       2597.000000
Name: Num_Credit_Inquiries, dtype: float64
count    96056.000000
mean         5.433809
std          3.500103
min          0.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         12.000000
Name: Num_Credit_Inquiries, dtype: float64

In [208]:
# Convert 'Age' from string to float
data['Outstanding_Debt'] = data['Outstanding_Debt'].str.replace('_', '')
data['Outstanding_Debt'] = data['Outstanding_Debt'].replace("", np.nan)
data['Outstanding_Debt'] = data['Outstanding_Debt'].astype(float)
print(data['Outstanding_Debt'].describe())

grouped_data = data.groupby('Customer_ID')
data['Outstanding_Debt'] = grouped_data['Outstanding_Debt'].transform(lambda g: replace_or_drop(g, 0, 5000))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Outstanding_Debt'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Outstanding_Debt'].describe())
# Age now looks good.
# Outstanding debt looks good. Although we have values near 5000 when the median is near 1170, it is reasonable that people have this much debt.

count    96056.000000
mean      1374.910821
std       1126.104035
min          0.230000
25%        550.220000
50%       1123.230000
75%       1811.960000
max       4998.070000
Name: Outstanding_Debt, dtype: float64
count    96056.000000
mean      1374.910821
std       1126.104035
min          0.230000
25%        550.220000
50%       1123.230000
75%       1811.960000
max       4998.070000
Name: Outstanding_Debt, dtype: float64

In [209]:
# Filter the dataframe to keep only rows where 'Credit_History_Age' is a string
data = data[data['Credit_History_Age'].apply(lambda x: isinstance(x, str))]

# Now apply the conversion function
def years_months_to_months(s):
    if s == "NA":
        return np.nan
    parts = s.split(' ')
    years = int(parts[0])
    months = int(parts[3])
    total_months = years * 12 + months
    return total_months

data['Credit_History_Age'] = data['Credit_History_Age'].apply(years_months_to_months).astype(float)

grouped_data = data.groupby('Customer_ID')
data['Credit_History_Age'] = grouped_data['Credit_History_Age'].transform(lambda g: replace_or_drop(g, 0, 405))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Credit_History_Age'], inplace = True)
data.reset_index(drop = True, inplace = True)

data.head()
print(data['Credit_History_Age'].describe())
# TOOOODOOOOOOOOOOO!!!

C:\Users\ayujv\AppData\Local\Temp\ipykernel_26704\2449110855.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Credit_History_Age'] = data['Credit_History_Age'].apply(years_months_to_months).astype(float)

count    87374.000000
mean       224.770904
std         99.235149
min          1.000000
25%        150.000000
50%        223.000000
75%        306.000000
max        404.000000
Name: Credit_History_Age, dtype: float64

In [210]:
# Annual income should change from a string to a float.
print(data['Credit_Utilization_Ratio'].describe())

grouped_data = data.groupby('Customer_ID')
data['Credit_Utilization_Ratio'] = grouped_data['Credit_Utilization_Ratio'].transform(lambda g: replace_or_drop(g, 20, 50))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Credit_Utilization_Ratio'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Credit_Utilization_Ratio'].describe())
# Annual Income now looks good.

count    87374.000000
mean        32.314515
std          5.117584
min         20.100770
25%         28.083186
50%         32.338026
75%         36.521620
max         50.000000
Name: Credit_Utilization_Ratio, dtype: float64
count    87374.000000
mean        32.314297
std          5.117236
min         20.100770
25%         28.083186
50%         32.337752
75%         36.521332
max         49.564519
Name: Credit_Utilization_Ratio, dtype: float64

In [211]:
# Annual income should change from a string to a float.
print(data['Total_EMI_per_month'].describe())

grouped_data = data.groupby('Customer_ID')
data['Total_EMI_per_month'] = grouped_data['Total_EMI_per_month'].transform(lambda g: replace_or_drop(g, 0, 200))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Total_EMI_per_month'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Total_EMI_per_month'].describe())
# Annual Income now looks good.

count    87374.000000
mean      1411.132776
std       8319.434951
min          0.000000
25%         29.701607
50%         68.502470
75%        160.544153
max      82331.000000
Name: Total_EMI_per_month, dtype: float64
count    73609.000000
mean        64.681664
std         53.133987
min          0.000000
25%         23.172582
50%         52.813538
75%         95.993931
max        199.904691
Name: Total_EMI_per_month, dtype: float64

In [212]:
# Convert 'Age' from string to float
data['Amount_invested_monthly'] = data['Amount_invested_monthly'].str.replace('_', '')
data['Amount_invested_monthly'] = data['Amount_invested_monthly'].replace("", np.nan)
data['Amount_invested_monthly'] = data['Amount_invested_monthly'].astype(float)
print(data['Amount_invested_monthly'].describe())

grouped_data = data.groupby('Customer_ID')
data['Amount_invested_monthly'] = grouped_data['Amount_invested_monthly'].transform(lambda g: replace_or_drop(g, 0, 10000))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Amount_invested_monthly'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Amount_invested_monthly'].describe())
# Age now looks good.
# Outstanding debt looks good. Although we have values near 5000 when the median is near 1170, it is reasonable that people have this much debt.

count    70274.000000
mean       616.657705
std       2042.880257
min          0.000000
25%         69.343572
50%        124.096418
75%        234.271367
max      10000.000000
Name: Amount_invested_monthly, dtype: float64
count    73609.000000
mean       606.857101
std       2032.610446
min          0.000000
25%         66.046738
50%        119.768462
75%        226.781450
max      10000.000000
Name: Amount_invested_monthly, dtype: float64

In [213]:
data['Monthly_Balance'] = data['Monthly_Balance'].str.replace('_', '')
data['Monthly_Balance'] = data['Monthly_Balance'].replace("", np.nan)
data['Monthly_Balance'] = data['Monthly_Balance'].astype(float)
print(data['Monthly_Balance'].describe())

grouped_data = data.groupby('Customer_ID')
data['Monthly_Balance'] = grouped_data['Monthly_Balance'].transform(lambda g: replace_or_drop(g, 0, 1.58e+03))

# Drop all rows where 'Num_Bank_Accounts' is NaN, these rows are from groups with a negative mode
data.dropna(subset=['Monthly_Balance'], inplace = True)
data.reset_index(drop = True, inplace = True)

print(data['Monthly_Balance'].describe())

count    7.212600e+04
mean    -2.772925e+22
std      3.040139e+24
min     -3.333333e+26
25%      2.722912e+02
50%      3.337968e+02
75%      4.558769e+02
max      1.576289e+03
Name: Monthly_Balance, dtype: float64
count    72326.000000
mean       398.859120
std        207.010388
min          0.131136
25%        272.095549
50%        333.675741
75%        455.578106
max       1576.288935
Name: Monthly_Balance, dtype: float64

In [214]:
data['Occupation'].replace("_______", "Unemployed", inplace=True)
print(data['Occupation'].value_counts())

# One hot encode:
occupation_dummies = pd.get_dummies(data['Occupation'], prefix = 'Occupation')
data = pd.concat([data, occupation_dummies], axis = 1)
data.drop('Occupation', axis = 1, inplace = True)

data.head()

Occupation
Unemployed       5144
Lawyer           4840
Architect        4649
Teacher          4626
Engineer         4608
Media_Manager    4540
Scientist        4516
Mechanic         4499
Journalist       4460
Entrepreneur     4453
Developer        4448
Accountant       4390
Doctor           4383
Manager          4279
Musician         4279
Writer           4212
Name: count, dtype: int64

,Customer_ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Unemployed,Occupation_Writer
0,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,...,False,False,False,False,False,False,True,False,False,False
1,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,...,False,False,False,False,False,False,True,False,False,False
2,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5.0,...,False,False,False,False,False,False,True,False,False,False
3,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6.0,...,False,False,False,False,False,False,True,False,False,False
4,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8.0,...,False,False,False,False,False,False,True,False,False,False

In [215]:
all_loans = set()
data['Type_of_Loan'].dropna().str.split(',').apply(lambda x: [all_loans.add(loan.strip().replace('and ', '').replace('And ', '')) for loan in x])

# Function to create one-hot encodings
def encode_loans(row):
    if pd.isna(row):
        return pd.Series({loan: 0 for loan in all_loans})
    loans = [loan.strip().replace(' and', '').replace('And', '') for loan in row.split(',')]
    return pd.Series({loan: (1 if loan in loans else 0) for loan in all_loans})

# Apply the function across the Type_of_Loan column
loan_encoded = data['Type_of_Loan'].apply(encode_loans)

# Join the one-hot encoded DataFrame with the original DataFrame
data = data.join(loan_encoded)

# Optionally, drop the original 'Type_of_Loan' column if no longer needed
data.drop('Type_of_Loan', axis=1, inplace=True)

# Print the modified DataFrame
data.head()

# ********* TODO ************* #

,Customer_ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Occupation_Writer,Student Loan,Auto Loan,Home Equity Loan,Personal Loan,Payday Loan,Credit-Builder Loan,Debt Consolidation Loan,Not Specified,Mortgage Loan
0,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,False,0,1,0,1,0,1,0,0,0
1,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,False,0,1,0,1,0,1,0,0,0
2,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,...,False,0,1,0,1,0,1,0,0,0
3,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,...,False,0,1,0,1,0,1,0,0,0
4,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,8.0,4.0,...,False,0,1,0,1,0,1,0,0,0

In [216]:
# Function to replace invalid strings with the mode if valid
def replace_invalid_with_mode(group, invalid_str):
    mode_value = group.mode()
    if mode_value.empty or (mode_value[0] == invalid_str):
        return pd.Series([None] * len(group))  # Mark group for deletion if no valid mode or mode is invalid
    return group.replace(invalid_str, mode_value[0])

In [217]:
print(data['Credit_Mix'].value_counts())

grouped_data = data.groupby('Customer_ID')
data['Credit_Mix'] = grouped_data['Credit_Mix'].transform(lambda x: replace_invalid_with_mode(x, '_'))

data.dropna(subset=['Credit_Mix'], inplace = True)

print(data['Credit_Mix'].value_counts())

# One hot encode:
occupation_dummies = pd.get_dummies(data['Credit_Mix'], prefix = 'Credit Mix')
data = pd.concat([data, occupation_dummies], axis = 1)
data.drop('Credit_Mix', axis = 1, inplace = True)

data.head()

Credit_Mix
Standard    27807
Good        18410
_           14641
Bad         11468
Name: count, dtype: int64
Credit_Mix
Standard    34267
Good        22571
Bad         14085
Name: count, dtype: int64

,Customer_ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Home Equity Loan,Personal Loan,Payday Loan,Credit-Builder Loan,Debt Consolidation Loan,Not Specified,Mortgage Loan,Credit Mix_Bad,Credit Mix_Good,Credit Mix_Standard
0,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,0,1,0,1,0,0,0,False,True,False
1,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,0,1,0,1,0,0,0,False,True,False
2,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,...,0,1,0,1,0,0,0,False,True,False
3,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,...,0,1,0,1,0,0,0,False,True,False
4,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,8.0,4.0,...,0,1,0,1,0,0,0,False,True,False

In [218]:
print(data['Payment_of_Min_Amount'].value_counts())

grouped_data = data.groupby('Customer_ID')
data['Payment_of_Min_Amount'] = grouped_data['Payment_of_Min_Amount'].transform(lambda x: replace_invalid_with_mode(x, 'NM'))

data.dropna(subset=['Payment_of_Min_Amount'], inplace = True)

print(data['Payment_of_Min_Amount'].value_counts())

# One hot encode:
occupation_dummies = pd.get_dummies(data['Payment_of_Min_Amount'], prefix = 'Payment_of_Min_Amount')
data = pd.concat([data, occupation_dummies], axis = 1)
data.drop('Payment_of_Min_Amount', axis = 1, inplace = True)

data.head()

Payment_of_Min_Amount
Yes    35391
No     26987
NM      8545
Name: count, dtype: int64
Payment_of_Min_Amount
Yes    39701
No     30488
Name: count, dtype: int64

,Customer_ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Payday Loan,Credit-Builder Loan,Debt Consolidation Loan,Not Specified,Mortgage Loan,Credit Mix_Bad,Credit Mix_Good,Credit Mix_Standard,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes
0,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,0,1,0,0,0,False,True,False,True,False
1,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,0,1,0,0,0,False,True,False,True,False
2,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,...,0,1,0,0,0,False,True,False,True,False
3,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,...,0,1,0,0,0,False,True,False,True,False
4,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,8.0,4.0,...,0,1,0,0,0,False,True,False,True,False

In [219]:
print(data['Payment_Behaviour'].value_counts())

grouped_data = data.groupby('Customer_ID')
data['Payment_Behaviour'] = grouped_data['Payment_Behaviour'].transform(lambda x: replace_invalid_with_mode(x, '!@9#%8'))

data.dropna(subset=['Payment_Behaviour'], inplace = True)

print(data['Payment_Behaviour'].value_counts())

# One hot encode:
occupation_dummies = pd.get_dummies(data['Payment_Behaviour'], prefix = 'Payment_Behaviour')
data = pd.concat([data, occupation_dummies], axis = 1)
data.drop('Payment_Behaviour', axis = 1, inplace = True)

data.head()

Payment_Behaviour
Low_spent_Small_value_payments      19379
High_spent_Medium_value_payments    11886
Low_spent_Medium_value_payments      9560
High_spent_Large_value_payments      8643
High_spent_Small_value_payments      8019
Low_spent_Large_value_payments       7402
!@9#%8                               5300
Name: count, dtype: int64
Payment_Behaviour
Low_spent_Small_value_payments      20142
High_spent_Medium_value_payments    12212
Low_spent_Medium_value_payments      9459
High_spent_Large_value_payments      8836
High_spent_Small_value_payments      7895
Low_spent_Large_value_payments       7290
Name: count, dtype: int64

,Customer_ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit Mix_Good,Credit Mix_Standard,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,True,False,True,False,False,False,True,False,False,False
1,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,True,False,True,False,False,False,False,False,True,False
2,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,...,True,False,True,False,False,False,False,False,False,True
3,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,...,True,False,True,False,False,True,False,False,False,False
4,CUS_0xd40,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,8.0,4.0,...,True,False,True,False,False,False,False,False,False,True

In [220]:
# Ensure all columns are proper types.
for col in data.columns:
    print(f'{col} : {pd.api.types.infer_dtype(data[col])}')
    
# Credit score column as labels column.
labels = data['Credit_Score'].copy()
data.drop(columns=['Credit_Score'], inplace = True)

# Drop Customer_ID because it is useless.
data.drop(columns=['Customer_ID'], inplace = True)

# TODO: Drop one-hot encoding columns that are "yes"/"no" since we only need 1.
data.drop(columns=['Occupation_Unemployed'], inplace = True)
data.drop(columns=['Not Specified'], inplace = True)
data.drop(columns=['Credit Mix_Standard'], inplace = True)
data.drop(columns=['Payment_of_Min_Amount_No'], inplace = True)
data.drop(columns=['Payment_Behaviour_Low_spent_Small_value_payments'], inplace = True)

print(data.shape[0])
data.head()

# TODO: PCA Analysis
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
scaler = StandardScaler()
scaler.fit(data)
std_data = scaler.transform(data)
pca = PCA(n_components = 0.95, svd_solver = 'full')
pca_data = pca.fit_transform(std_data)
pca_df = pd.DataFrame(pca_data)
pca_df.head()

Customer_ID : string
Age : floating
Annual_Income : floating
Monthly_Inhand_Salary : floating
Num_Bank_Accounts : floating
Num_Credit_Card : floating
Interest_Rate : floating
Num_of_Loan : floating
Delay_from_due_date : floating
Num_of_Delayed_Payment : floating
Changed_Credit_Limit : floating
Num_Credit_Inquiries : floating
Outstanding_Debt : floating
Credit_Utilization_Ratio : floating
Credit_History_Age : floating
Total_EMI_per_month : floating
Amount_invested_monthly : floating
Monthly_Balance : floating
Credit_Score : string
Occupation_Accountant : boolean
Occupation_Architect : boolean
Occupation_Developer : boolean
Occupation_Doctor : boolean
Occupation_Engineer : boolean
Occupation_Entrepreneur : boolean
Occupation_Journalist : boolean
Occupation_Lawyer : boolean
Occupation_Manager : boolean
Occupation_Mechanic : boolean
Occupation_Media_Manager : boolean
Occupation_Musician : boolean
Occupation_Scientist : boolean
Occupation_Teacher : boolean
Occupation_Unemployed : boolean
Occupation_Writer : boolean
Student Loan : integer
Auto Loan : integer
Home Equity Loan : integer
Personal Loan : integer
Payday Loan : integer
Credit-Builder Loan : integer
Debt Consolidation Loan : integer
Not Specified : integer
Mortgage Loan : integer
Credit Mix_Bad : boolean
Credit Mix_Good : boolean
Credit Mix_Standard : boolean
Payment_of_Min_Amount_No : boolean
Payment_of_Min_Amount_Yes : boolean
Payment_Behaviour_High_spent_Large_value_payments : boolean
Payment_Behaviour_High_spent_Medium_value_payments : boolean
Payment_Behaviour_High_spent_Small_value_payments : boolean
Payment_Behaviour_Low_spent_Large_value_payments : boolean
Payment_Behaviour_Low_spent_Medium_value_payments : boolean
Payment_Behaviour_Low_spent_Small_value_payments : boolean
65834

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,-1.546392,-1.479865,-2.216772,-0.396886,-2.175038,-2.017683,0.832310,1.294604,0.253782,2.776422,...,-0.652370,1.769365,-0.507443,-0.254797,1.142496,-0.918744,-0.048317,0.432760,-0.501193,0.442981
1,-1.568898,-1.506889,-2.162187,-1.056977,1.455545,-0.423256,0.529422,1.110735,0.271490,3.204141,...,-0.828912,1.625947,-0.321093,-0.135022,0.956400,-0.825660,-0.008687,0.464203,-0.522775,0.465273
2,-1.741960,-1.348636,-2.288979,-0.132397,-0.561377,-0.121253,0.079269,1.050659,0.562641,3.053841,...,-0.828899,1.921727,0.038027,0.218968,0.870279,-0.134610,0.019719,0.007247,0.063908,0.411684
3,-1.710947,-0.920726,-2.194983,1.979003,-0.131833,-0.215164,-0.032964,1.154161,0.480869,3.185054,...,-0.610225,1.801740,-0.427935,-0.077308,1.226218,-1.018355,0.004433,0.377149,-0.177817,0.680317
4,-1.672887,-1.229613,-2.188094,-0.100977,-0.581498,-0.103560,0.212622,1.054259,0.528568,3.056077,...,-0.726499,1.813005,-0.281731,-0.024526,1.082991,-0.671833,-0.002658,0.265730,0.084055,0.520286

In [223]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

clf = DecisionTreeClassifier()
data_y = labels
data_x = pca_df # Features for the data
params = {"max_depth": [10, 20, 30],
"min_samples_leaf": [5, 10, 15], "max_features": [20, 30, 40]}
grid_search = GridSearchCV(clf, params, cv=5, scoring='accuracy', n_jobs = -1)

grid_search.fit(data_x, data_y)

# What did it find as the best max_depth?
print("Best Parameters:", grid_search.best_params_)
# What was the accuracy at this best max_depth?
print(f'Accuracy: {grid_search.best_score_*100}%')

Best Parameters: {'max_depth': 10, 'max_features': 20, 'min_samples_leaf': 15}
Accuracy: 64.79782272302079%