In [315]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [316]:
data = pd.read_csv('./train.csv')
data.head()

C:\Users\ayujv\AppData\Local\Temp\ipykernel_10260\356224728.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

## Data Preproccesing:
As you can see, we have a lot data to clean up and drop.

In [317]:
print(data.isnull().sum())

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [318]:
# This is more specific than simply just using df.dtypes and helps us figure out why column 26 has mixed types.
for col in data.columns:
    print(f'{col} : {pd.api.types.infer_dtype(data[col])}')
  
# We need to one-hot-encode occupation, Type of Loans, Credit Mix, Payment of Minimum amount, Payment Behaviour
# We need to fix Age, Annual Income, Number of Loans, Number of Delayed Payments, 
#   Change in Credit Limit, Outstanding Debt, Credit History Age, Amount Invested Monthly, and Monthly Balance
# TODO: FOR EVERY NUMERICAL DATA TYPE, CHECK NEGATIVES AND HIGH OUTLIERS.

ID : string
Customer_ID : string
Month : string
Name : string
Age : string
SSN : string
Occupation : string
Annual_Income : string
Monthly_Inhand_Salary : floating
Num_Bank_Accounts : integer
Num_Credit_Card : integer
Interest_Rate : integer
Num_of_Loan : string
Type_of_Loan : string
Delay_from_due_date : integer
Num_of_Delayed_Payment : string
Changed_Credit_Limit : string
Num_Credit_Inquiries : floating
Credit_Mix : string
Outstanding_Debt : string
Credit_Utilization_Ratio : floating
Credit_History_Age : string
Payment_of_Min_Amount : string
Total_EMI_per_month : floating
Amount_invested_monthly : string
Payment_Behaviour : string
Monthly_Balance : mixed
Credit_Score : string

In [319]:
# Multiple types in column 26
column_data = data.iloc[ : , 26] 
print(column_data.apply(type).value_counts())

Monthly_Balance
<class 'str'>      97132
<class 'float'>     2868
Name: count, dtype: int64

In [320]:
# Drop useless features.
data.drop(['ID', 'Name', 'SSN', 'Month'], axis = 1, inplace = True)
data.head()

,Customer_ID,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,-500,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [321]:
# Ensure that each customer has the same number of records before grouping them in the next steps.
(data.Customer_ID.value_counts() != 8).any()

False

In [322]:
# Convert 'Age' from string to float
data['Age'] = data['Age'].str.replace('_', '')
data['Age'] = data['Age'].astype(float)

# Make all age values the same (the mode) for each customer.
grouped_data = data.groupby('Customer_ID')
mode_age = grouped_data['Age'].transform(lambda x: x.mode()[0]) # If there is a tie in mode (customer had a birthday), take the first mode.
data['Age'] = mode_age

print(data['Age'])
# Age now looks good.

0        23.0
1        23.0
2        23.0
3        23.0
4        23.0
         ...
99995    25.0
99996    25.0
99997    25.0
99998    25.0
99999    25.0
Name: Age, Length: 100000, dtype: float64

In [323]:
# Annual income should change from a string to a float.
data['Annual_Income'] = data['Annual_Income'].str.replace('_', '')
data['Annual_Income'] = data['Annual_Income'].astype(float)

# Make all Annual Income values the same (the mode) for each customer.
grouped_data = data.groupby('Customer_ID')
mode_ann_income = grouped_data['Annual_Income'].transform(lambda x: x.mode()[0]) # If there is a tie in Annual Income (customer had a promotion), take the first mode.
data['Annual_Income'] = mode_ann_income

print(data['Annual_Income'])
# Annual Income now looks good.

0        19114.12
1        19114.12
2        19114.12
3        19114.12
4        19114.12
           ...
99995    39628.99
99996    39628.99
99997    39628.99
99998    39628.99
99999    39628.99
Name: Annual_Income, Length: 100000, dtype: float64

In [324]:
# Number of loans should change from a string to a float.
data['Num_of_Loan'] = data['Num_of_Loan'].str.replace('_', '')
data['Num_of_Loan'] = data['Num_of_Loan'].astype(float)

negative_loans = data[data['Num_of_Loan'] < 0]['Num_of_Loan'].value_counts()
print(negative_loans)
# People can't have negative loans, so we drop these records.
negative_loan_indices = data[data['Num_of_Loan'] < 0].index
data = data.drop(negative_loan_indices)
data.reset_index(drop = True, inplace = True)
negative_loans = data[data['Num_of_Loan'] < 0]['Num_of_Loan'].any()
print(negative_loans)
# No more negative loans.

num_loans = data["Num_of_Loan"].value_counts()
print(num_loans)
# Some people have 1000+ loans. We will determine outliers to be more than 10 loans.
large_loan_indices = data[data['Num_of_Loan'] > 10].index
data = data.drop(large_loan_indices)
data.reset_index(drop = True, inplace = True)
large_loans = data[data['Num_of_Loan'] > 10]['Num_of_Loan'].any()
print(large_loans)
# Number of Loans now looks good.

Num_of_Loan
-100.0    3876
Name: count, dtype: int64
False
Num_of_Loan
3.0       15104
2.0       15032
4.0       14743
0.0       10930
1.0       10606
          ...
119.0         1
321.0         1
1439.0        1
663.0         1
966.0         1
Name: count, Length: 413, dtype: int64
False

In [325]:
# Number of delayed payments should change from a string to a float.
data['Num_of_Delayed_Payment'] = data['Num_of_Delayed_Payment'].str.replace('_', '')
data['Num_of_Delayed_Payment'] = data['Num_of_Delayed_Payment'].astype(float)

negative_delayed_payments = data[data['Num_of_Delayed_Payment'] < 0]['Num_of_Delayed_Payment'].value_counts()
print(negative_delayed_payments)
# People can't have negative delayed payments, so we drop these records.
negative_delayed_payments = data[data['Num_of_Delayed_Payment'] < 0].index
data = data.drop(negative_delayed_payments)
data.reset_index(drop = True, inplace = True)
negative_delayed_payments = data[data['Num_of_Delayed_Payment'] < 0]['Num_of_Delayed_Payment'].any()
print(negative_delayed_payments)
# No more negative delayed payments.

num_delayed_payments = data["Num_of_Delayed_Payment"].value_counts()
print(num_delayed_payments)
# Some of these are in the thousands. /TODO: START HERE.

Num_of_Delayed_Payment
-1.0    297
-2.0    221
-3.0     93
Name: count, dtype: int64
False
Num_of_Delayed_Payment
19.0      5190
17.0      5181
10.0      5104
16.0      5076
15.0      5019
          ...
4134.0       1
1530.0       1
1502.0       1
4075.0       1
2047.0       1
Name: count, Length: 682, dtype: int64